h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fafafa;
  text-align: center;
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
  text-shadow: 0rem 0.1rem 0.5rem #666666;
  
}

body {
  background-image: radial-gradient(rgb(51, 51, 51), rgb(0, 0, 0));
  color: #fafafa;
  margin: 0;
}

.card h2 {
  color: black;
  font-family: 'Courier New', Courier, 'Courier New', Courier, monospace;
  font-weight: 600;
  margin: 2rem;
}

.header {
  display: flex;
  flex-direction: row;
  margin: auto;
  font-size: larger;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  color: #fafafa;
  height: 8rem;
  padding: 1rem;
}

.header div {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.logo {
  width: 11rem;
  height: 8rem;
}

.header div div {
  margin: auto 0;
}

.mac {
  max-width: 1300px;
  margin-left: 0.4rem;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #fafafa;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  text-align: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: #fafafa;
  height: 25rem;
  margin-top: 2rem;
}

p {
  font-family: 'Courier New', Courier, monospace;
  max-width: 300px;
  margin: auto;
}


.mac-container {
  display: flex;
}

.mac {
  max-width: 90%;
  margin: auto;
}

.primary-button {
  height: 4rem;
  width: 20rem;
  color: #fafafa;
  background: #000;
  border: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 500;
  margin: auto;

}

.card p {
  color: #000;
  margin: 0 auto;
}

@media (min-width: 1024px) {

  h1 {
    font-size: 6rem;
  }

  h2 {
    font-size: 4rem;
  }

  p {
    font-size: 1.5rem;
    max-width: 30rem;
  }
}

a {
  color: #fafafa;
  text-decoration: none;
}

a:hover {
  font-size: 1.25rem;
  transition: 0.2s;
  cursor: alias;
}

.card-container {
  margin: 4rem;
}

.product-card {
  background-color: #ebebeb;
  height: 30rem;
  width: 22rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
  max-width: 100%;
}

.product-card img {
  width: 13rem;
  height: 15rem;
  margin: 0 auto;
}

.product-card h3 {
  font-family: 'Courier New', Courier, monospace;
  color: #000000;
  font-size: 3rem;
  width: 100%;
  text-align: center;
  margin: auto 0;
}

.primary-card-button {
  border-radius: 1rem;
  max-width: 90%;
}

@media (min-width: 1040px) {
  .card-container {
  display: flex;
  flex-direction: row;
  margin: 4rem;
}

.primary-card-button:hover {
  background: #222222;
  box-shadow: 0.3rem 0rem 0.5rem rgb(95, 95, 95);
  transition: 0.5s;
  cursor: cell;
}

.product-card {
  margin: auto;
  background-color: #ebebeb;
  height: 30rem;
  width: 22rem;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  margin: 4rem;
}
}

.primary-button:hover {
  background: #222222;
  box-shadow: 0.3rem 0rem 0.5rem rgb(95, 95, 95);
  transition: 0.5s;
}

.about-container {
  display: flex;
  flex-direction: row;
  width: 80rem;
  margin: auto;
}

.about-container h2 {
  margin: auto;
  text-align: left;
}

.about-card {
  margin: auto;
  height: 20rem;
}

.icon {
  margin: 0 auto;
}

.about-card p {
  padding-top: 3rem;
}

.icon-contact {
  width: 5rem;
  margin-bottom: 2rem;
}

.contact h2 {
  text-align: left;
  margin: 0;
}

.contact p {
  padding-top: 0.5rem;
}

.container-contact {
  display: flex;
  height: 32rem;
}

.contact {
  margin: 0 auto;
}

input {
  height: 3rem;
  width: 25rem;
  color: #000;
  background-color: #fafafa;
  font-size: 1rem;
  box-shadow: none;
  padding-left: 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  border: none;
  margin-bottom: 1rem;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 10rem;
  color: #000;
  background-color: #fafafa;
  font-size: 1rem;
  box-shadow: none;
  font-family: 'Courier New', Courier, monospace;
  padding-left: 1rem;
  font-weight: 600;
  padding-top: 1rem;
}

form .primary-button {
  width: 13rem;
  margin-right: 0;
  background-color: #fafafa;
  color: #000;
}

form .primary-button:hover {
  background-color: #d8d8d8;
  box-shadow: none;
}

