img {
  height: 10rem;
  /* width: 19.5%; */
  transition: transform .5s;
  object-fit: cover;
  padding: .5rem 0;
}

/* img:hover {
  transform: scale(1.25); 
} */

.img-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5rem;
  justify-content: space-between;
} 

body {
  max-width: 90%;
  margin: auto;
  background-image: url(../img/hearts.jpg);
}

h1, p {
  text-align: center;
  margin: 0;
}

p {
  font-size: 4rem;
  padding: 2rem 0;
}

h1 {
  font-size: 5rem;
  margin-top: 2rem;
}

@media (max-width: 475px) {
  .img-container {
    justify-content: center;
  }

  img {
    height: 15rem;
  }

  h1 {
    font-size: 3rem;
  }

  p {
    font-size: 2rem;
  }
}