* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 300;
  color: #fafafa;
  text-decoration: none;
}

body {
  background-image: linear-gradient(to bottom right, purple, blue);
  text-align: center;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-weight: 500;
  text-align: center;
  font-size: 40px;
  margin: 0;
  margin-top: 4rem;
}

p {
  font-size: 1.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  max-width: 180rem;
  margin: 1rem;
  position: fixed;
  min-width: 100vw;
}

.header div {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 1.5rem;
}

.header div div a {
  padding: .15rem;
  font-size: 1rem;
  font-weight: 500;
}

.header div div a:hover {
  background: -webkit-linear-gradient(red, orange);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: .15s;
}

.logo {
  height: 5rem;
  width: 5rem;
}

.drop-img {
  height: 20rem;
  width: 20rem;
  margin-top: 2rem;
}

.content {
  margin: 1rem;
}

img {
  max-width: 90%;
}

.card {
  width: 90%;
  height: auto;
  margin-top: 2rem;
}

.card img {
  height: 5rem;
  width: 5rem;
}

button {
  border: none;
  background: #fafafa;
  padding: 1rem;
  font-size: 2.5rem;
  border-radius: 5px;
  width: 70%;
  margin-bottom: 2rem;
}

button a {
  background: -webkit-linear-gradient(purple, blue);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}

button:hover {
  background: #f1f1f1;
}

.tongue {
  width: 40rem;
}

@media (max-width: 500px){
  #contact-heading {
    font-size: 2.25rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-bottom: 5rem;
}

form div {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
}

label {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

input {
  color: black;
  /* max-width: 20rem; */
  height: 3rem;
  font-size: 1.5rem;
  padding-left: 1rem;
  
}

textarea {
  font-size: 1.5rem;
  color: #333;
  height: 15rem;
  /* max-width: 20rem; */
  padding-left: 1rem;
  padding-top: .5rem;
}

#form-btn {
  margin-top: 2rem;
  background: -webkit-linear-gradient(orange, purple);
  background-clip: text;
  -webkit-background-clip: text;

  color: #fafafa;
  font-weight: 500;
}

#form-btn:hover {
  color: grey;
  transition: .5s;
}

@media (min-width: 600px) {
  h1 {
    font-size: 70px;
  }

  .logo {
    height: 7rem;
    width: 7rem;
  }

  .header div div a {
    padding: .25rem;
    font-size: 1.25rem;
    font-weight: 500;
  }

  p {
    font-size: 2rem;
  }

  .header {
    margin: 1rem;
  }

  .card img {
    height: 8rem;
    width: 8rem;
  }

  label {
    text-align: left;
  }
}

@media (min-width: 1000px) {
  .content {
    max-width: 1000px;
    margin: auto;
  }

  h1 {
    font-size: 90px;
  }

  .logo {
    height: 9rem;
    width: 9rem;
  }

  .header div div a {
    padding: .25rem;
    font-size: 2rem;
    font-weight: 500;
  }

  p {
    font-size: 3rem;
  }

  .cards {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
  }

  .card {
    width: 30%;
    height: auto;
    margin: auto;
    margin-top: 2rem;
  }
  
  .card img {
    height: 5rem;
    width: 5rem;
  }

  .card p {
    font-size: 1.75rem;
  }

  form {
    max-width: 90%;
  }
}