* {
  margin: 0;
  padding: 0;
}

body {
  background: #fafafa;
}

.header__img {
  width: 100%;
  height: 45rem;
  object-fit: cover;
  position: absolute;
  z-index: -3;
}

h1 {
  font-size: 8rem;
  color: #fafafa;
  text-align: center;
  margin: auto;
}

.header {
  height: 45rem;
  display: flex;
}

.card {
  display: flex;
  max-width: 60%;
  margin: 2rem auto;
  border-radius: 10px;
  background: #f2f2f2;
}

.card div {
  padding: 1rem;
  margin: auto;
}

.card__img {
  width: 50%;
}

.card__img--primary {
  border-radius: 0 10px 10px 0;
}

.card__img--secondary {
  border-radius: 10px 0 0 10px;
}